*{
    padding: 0;
    margin: 0;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: gray;
  }
  
  form{
    padding: 20px;
    border-radius: 20px;
    font-family: sans-serif;
  }
  
  button{
    padding: 2px;
  }
  
  .light{
    background-color: #dedede;
    color: black;
  }
  
  
  
  .dark{
    background-color: #3f3f3f;
    color: white;
  }
  
  .dark input{
    background-color: #1d1d1d;
    color: white;
  }
  
  .dark button{
    background-color: #8e8e8e;
    border: 2px solid rgb(79, 73, 73);
    color: white;
  }